<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdt.module.login.mapper.AccountDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zdt.module.login.entity.Account">
        <id column="id" property="id" />
        <result column="cust_id" property="custId" />
        <result column="acct_login_name" property="acctLoginName" />
        <result column="login_password" property="loginPassword" />
        <result column="salt" property="salt" />
        <result column="status_cd" property="statusCd" />
        <result column="eff_time" property="effTime" />
        <result column="exp_time" property="expTime" />
        <result column="sys_org_code" property="sysOrgCode" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cust_id, acct_login_name, login_password, salt, status_cd, eff_time, exp_time, sys_org_code, create_by, create_time, update_by, update_time
    </sql>

</mapper>
